# permissions for end users to view roletemplates.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: argocd-ephemeral-access
    app.kubernetes.io/managed-by: kustomize
  name: roletemplate-viewer-role
rules:
  - apiGroups:
      - ephemeral-access.argoproj-labs.io
    resources:
      - roletemplates
    verbs:
      - get
      - list
      - watch
  - apiGroups:
      - ephemeral-access.argoproj-labs.io
    resources:
      - roletemplates/status
    verbs:
      - get
