apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - config.yaml
  - deployment.yaml
  - metrics_service.yaml
  - role_binding.yaml
  - role.yaml
  - service_account.yaml
  - service.yaml
