---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.15.0
  name: accessbindings.ephemeral-access.argoproj-labs.io
spec:
  group: ephemeral-access.argoproj-labs.io
  names:
    kind: AccessBinding
    listKind: AccessBindingList
    plural: accessbindings
    singular: accessbinding
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: AccessBinding is the Schema for the accessbindings API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: AccessBindingSpec defines the desired state of AccessBinding
            properties:
              friendlyName:
                description: FriendlyName defines a name for this role
                maxLength: 512
                type: string
              if:
                description: If is a condition that must be true to evaluate the subjects
                type: string
              ordinal:
                description: |-
                  Ordinal defines an ordering number of this role compared to others.
                  AccessBindings associated with roles with higher privilege should
                  be set with lower ordinal value than AccessBindings associated with
                  roles with lesser privilege.
                type: integer
              roleTemplateRef:
                description: |-
                  RoleTemplateRef is the reference to the RoleTemplate this bindings grants
                  access to
                properties:
                  name:
                    description: Name of the role template object
                    type: string
                required:
                - name
                type: object
              subjects:
                description: |-
                  Subjects is list of strings, supporting go template, that a user's group
                  claims must match at least one of to be allowed
                items:
                  type: string
                type: array
            required:
            - roleTemplateRef
            - subjects
            type: object
        type: object
    served: true
    storage: true
