---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.15.0
  name: roletemplates.ephemeral-access.argoproj-labs.io
spec:
  group: ephemeral-access.argoproj-labs.io
  names:
    kind: RoleTemplate
    listKind: RoleTemplateList
    plural: roletemplates
    singular: roletemplate
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: RoleTemplate is the Schema for the roletemplates API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: RoleTemplateSpec defines the desired state of RoleTemplate
            properties:
              description:
                type: string
              name:
                type: string
              policies:
                items:
                  type: string
                type: array
            required:
            - name
            - policies
            type: object
          status:
            description: RoleTemplateStatus defines the observed state of RoleTemplate
            properties:
              message:
                type: string
              syncHash:
                type: string
              synced:
                type: boolean
            required:
            - syncHash
            - synced
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
